# InfluxDB Configuration
DOCKER_INFLUXDB_INIT_MODE=setup
# Login credentials
DOCKER_INFLUXDB_INIT_USERNAME=example_user
DOCKER_INFLUXDB_INIT_PASSWORD=example_password
# Organization name
DOCKER_INFLUXDB_INIT_ORG=example_organization
DOCKER_INFLUXDB_INIT_BUCKET=example_bucket
# Access token
## generated with: openssl rand 32 | xxd -ps | head -n 1 | cut -c1-32
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=example_token

# Metrics retention duration (note: they take up space)
DOCKER_INFLUXDB_INIT_RETENTION=4w

# Grafana Auth
# Docker environment variables for Grafana
# follow a fixed structure
# GF_SECTION_VARIABLENAME
# For example, the security section and the variable admin_user
# correspond to:
GF_SECURITY_ADMIN_USER=example_admin
GF_SECURITY_ADMIN_PASSWORD=example_password
## SMTP Configuration
GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.example.com:465
GF_SMTP_USER=no_reply@example.com
GF_SMTP_PASSWORD=example_smtp_password
GF_SMTP_FROM_ADDRESS=no_reply@example.com
GF_SMTP_FROM_NAME=Example Grafana

